* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section {
  padding: 80px 0;
}

/* Dark mode styles */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f0f0f0;
}

/* Hero Section */
.hero {
  height: 650px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  display: flex;
  align-items: center;
  transition: background 0.5s ease;
}

body.dark-mode .hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

/* Navigation */
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

body.dark-mode .navbar {
  background-color: rgba(26, 26, 26, 0.9);
}

body.dark-mode .navbar.scrolled {
  background-color: rgba(26, 26, 26, 1);
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    text-decoration: none;
    color: #7644ff;
}

.dark-mode .navbar-brand {
  color: #7644ff;
}

.nav-link {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
  margin: 0 15px;
  transition: color 0.3s ease-in-out;
}

body.dark-mode .nav-link {
  color: #f0f0f0;
}

.nav-link:hover {
  color: #7644ff;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 5px;
  background: #7644ff;
  transition: width 0.3s ease-in-out;
  bottom: 0;
}

.nav-link:hover::after {
  width: 100%;
}

/* Buttons */
.btn-custom {
  color: #fff;
  background: #7644ff;
  border: 2px solid #7644ff;
  padding: 10px 25px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

.btn-custom:hover {
  background: transparent;
  color: #7644ff;
}

/* Hero Content */

.hero-content {
  width: 100%;
}

.hero-content .title {
  font-size: 18px;
  letter-spacing: 3px;
  background: linear-gradient(120deg, #1c99fe, #7644ff, #fd4766);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 20px 0 ;
  transition: color 0.5s ease;
}

body.dark-mode .hero-content h1 {
  color: #f0f0f0;
}

.hero-content h1 span {
  color: #7644ff;
}

.hero-content p {
  transition: color 0.3s ease;
}

body.dark-mode .hero-content p {
  color: #f0f0f0;
}

.hero-content .title,
.hero-content h1,
.hero-content p {
  opacity: 1;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease-out forwards;
}

.hero-content h1 {
  animation-delay: 0.2s;
}

.hero-content p {
  animation-delay: 0.4s;
}

/* Social Icons */
.social-icons {
  margin-top: 1.7rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem;
  position: relative;
  top: 70px;
}

.social-icons a {
  color: #1c99fe;
  font-size: 1rem;
  border: 1.6px solid #1c99fe;
  border-radius: 50%;
  padding: .25rem;
  text-align: center;
  width: 35px;
  transition: all .3s ease-in-out;
}

.social-icons a:hover {
  color: #1c99fe;
  box-shadow: 0 0 20px #7644ff;
}

/* About and Contact Sections */
.about-content,
.tech-stack,
.skills-container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease, color 0.3s ease;
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

li {
  cursor: pointer;
}


body.dark-mode .about-content,
body.dark-mode .tech-stack,
body.dark-mode .skills-container {
  background-color: #2a2a2a;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
  color: #f0f0f0;
}

.about-content:hover,
.tech-stack:hover,
.skills-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

body.dark-mode .about-content:hover,
body.dark-mode .tech-stack:hover,
body.dark-mode .skills-container:hover {
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.15);
}

.about-content h3,
.tech-stack h3,
.skills-container h3 {
  color: #050505;
  margin-bottom: 20px;
  transition: color 0.3s ease;
}

body.dark-mode .about-content h3,
body.dark-mode .tech-stack h3,
body.dark-mode .contact-content h2,
body.dark-mode .skills-container h3 {
  color: #f0f0f0;
}

.about-content p,
.contact-content p{
  color: #555;
  margin-bottom: 15px;
  transition: color 0.3s ease;
}

body.dark-mode .about-content p,
body.dark-mode .contact-content p {
  color: #c0c0c0;
}

.text-center {
  color: #7644ff;
}

/* Skills */
.skill-item {
  margin-bottom: 20px;
}

.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #555;
  transition: color 0.3s ease;
}

body.dark-mode .skill-info {
  color: #c0c0c0;
}

/* Projects */

body.dark-mode .projects-coming-soon {
  font-size: 24px;
  font-weight: 600;
  color: #f8f9fa;
  text-align: center;
  padding: 60px 20px;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0
}
/* Projects */
.projects-coming-soon {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  text-align: center;
  padding: 60px 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projects-coming-soon p {
  margin: 0;
}

.projects-coming-soon:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


/* Contact Section */
#contact {
  background-color: white;
  color: black;
  padding: 100px 0;
  position: relative;
}

body.dark-mode #contact{
  background-color: #000;
} 
#contact .contact-content {
  text-align: center;
}

#contact h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

#contact h2 span {
  color: #7644ff;
}

#contact p {
  font-size: 18px;
  margin-bottom: 40px;
  opacity: 0.8;
}

.footer-text {
  position: absolute;
  bottom: 39px;
  right: 20px;
  font-size: 14px;
  opacity: 0.9;
}

body.dark-mode .footer-text{
  color: #fff;
  opacity: 0.9;
  position: absolute;
  bottom: 39px;
  right: 20px;
}

/* Animations */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Dark Mode Toggle */
.dark-mode-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.dark-mode-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.dark-mode-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.dark-mode-label:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.dark-mode-input:checked + .dark-mode-label {
  background-color: #7644ff;
}

.dark-mode-input:checked + .dark-mode-label:before {
  transform: translateX(26px);
}

.dark-mode-label i {
  color: #ffffff;
  font-size: 18px;
  transition: opacity 0.3s ease;
}

#sunIcon {
  opacity: 1;
}

#moonIcon {
  opacity: 0;
}

.dark-mode-input:checked + .dark-mode-label #sunIcon {
  opacity: 0;
}

.dark-mode-input:checked + .dark-mode-label #moonIcon {
  opacity: 1;
}